*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
}
h1{
    font-size: 3rem;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* border: 2px solid yellow; */
}

.hero-text{
    width: 60%;
}

.hero{
    background-color: #23424A;
    color: #FFF;
padding: 100px;
}
.btn{
    display: inline-block;
    background-color: #38CFD9;
    padding:.25em 1.25em;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover,
.btn:focus{
    opacity: .75;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 100px;
}