*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .grid{
    font-size: 2em;
}

.cool--rem h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;

}
.cool--rem p{
    font-size: 1rem;
} */
.container{
    background-color:rgba(18, 34, 18, 0.533);
    color: antiquewhite;
    
}
.child1{
    
    padding: 2em;
    align-items: center;
    justify-content: center;
}
.child2{
    
    font-size: 1.3em;
    padding: 1.8em;
}
.button{
    
    font-size: 2em;
    align-items: center;
    justify-content: center;
    padding:0,6em ;
    border-radius: 1em;
    background-color: blue;
    color: black;
}